$primary: #4275eb;
$secondary: #6e268a;

.page-el{
    background-image: linear-gradient(45deg, $secondary, rgba($primary, 0.7), $secondary);
    padding: 50px 20px;
    padding-bottom: 10px;
    background: transparent !important;
}

html{
    background-color: $secondary;
}

#__next{
    background-color: #fffc;
    background-image: linear-gradient(45deg, $secondary, rgba($primary, 0.7), $secondary);
    padding-bottom: 100px;
}

*{
    font-family: "Poppins", sans-serif !important;
}

h1{
    filter: drop-shadow(0px 0px 3px #0002);
    text-align: center;
}


.sax{
    margin-bottom: -20px;
}

.bg-white{
    background-color: #fff1;
    border-radius: 20px;
    border: 1px solid #fff2;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 10px #0001 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;

    .primary-btn{
        transition: all 0.5s ease;
        margin-top: 30px;

        &:disabled{
            margin-top: -30px;
            opacity: 0;
            filter: blur(30px);
        }
    }
}

input{
    border-radius: 10px !important;
    border: 1px solid #fff2 !important;
    background-color: #fff1!important;
    color: #fff;
    box-shadow: none !important;
    outline: none;
    font-weight: 500;

    &::placeholder{
        color: #fff9;
    }
    
    &:focus, &:hover{
        background-color: #fff9 !important;
        color: #444 !important;
        
        &::placeholder{
            color: #4446 !important;
        }
    }

}

.image-templates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    .setto{
        padding: 3px 7px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 1000px;
        background-color: #fff1;
        border: 1px solid #fff2;
        transition: all 0.5s ease;
        cursor: pointer;

        &:active, &:focus{
            transform: scale(1.05);
        }

        &.true{
            background-color: $secondary;
            color: #fff;
        }
    }
}

.error{
    margin-top: 20px;
    color: red;
}

.dark-bg{
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    // max-height: 300px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px #0002;


    img{
        width: 100%;
        min-width: 0px;
        // height: fit-content;
        // min-height: 250px;
        opacity: 0.8;
        background-color: #000;
        color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-image: url("https://pbs.twimg.com/profile_banners/1578160497664397318/1723059116/1080x360");
    }

    .absolute{
        span{
            position: absolute;
            z-index: 40;
            width: 100%;
            padding: 0 15px !important;

            filter: drop-shadow(0px 0px 4px #000a);
            line-height: 100%;
            
            &:first-child{
                top: 10px;
            }
            &:last-child{
                bottom: 20px;
            }
        }

        @media screen and (max-width: 450px) {
            span{
                font-size: 23px !important;
            }
        }

        &.bytegen{
            span{
                line-height: 80%;
                font-family: "Luckiest Guy", cursive !important;
                font-family: "Jersey 10", cursive !important;
                font-size: 80px;
                color: rgb(237, 209, 52);
                text-shadow: 0px 0px 10px rgba(74, 38, 101, 0.145);
                letter-spacing: 1px;
                
                @media screen and (max-width: 600px) {
                    font-size: 60px !important;
                }

                @media screen and (max-width:450px) {
                    font-size: 60px !important;
                }
            }
        }

        &.doge{
            span{
                font-family: "Luckiest Guy", cursive !important;
                // font-family: "Jersey 10", cursive !important;
                font-size: 60px;
                // color: rgb(237, 209, 52);
                // text-shadow: 0px 0px 10px rgb(74, 38, 101);
                letter-spacing: 1px;
                line-height: 100%;
                
                @media screen and (max-width: 600px) {
                    font-size: 60px !important;
                }

                @media screen and (max-width:450px) {
                    font-size: 60px !important;
                }

                &.long-bottom, .long-top{
                    font-size: 45px;
                    
                    @media screen and (max-width: 600px) {
                        font-size: 40px !important;
                    }
        
                    @media screen and (max-width:450px) {
                        font-size: 30px !important;
                    }
                }
            }
        }

        &.default{
            span{
                font-family: "Concert One", sans-serif !important;
                // font-family: "Jersey 10", cursive !important;
                font-size: 80px;
                // color: rgb(237, 209, 52);
                // text-shadow: 0px 0px 10px rgb(74, 38, 101);
                letter-spacing: 1px;

                
                @media screen and (max-width: 600px) {
                    font-size: 70px !important;
                }

                @media screen and (max-width:450px) {
                    font-size: 70px !important;
                }
                
                &.long-bottom, .long-top{
                    font-size: 50px;
                    
                    @media screen and (max-width: 600px) {
                        font-size: 45px !important;
                    }
        
                    @media screen and (max-width:450px) {
                        font-size: 45px !important;
                    }
                }
            }
        }
        
        &.elon-musk{
            span{
                font-family: "Lilita One", sans-serif !important;
                // font-family: "Jersey 10", cursive !important;
                font-size: 60px;
                // color: rgb(237, 209, 52);
                // text-shadow: 0px 0px 10px rgb(74, 38, 101);
                
                @media screen and (max-width: 600px) {
                    font-size: 50px !important;
                }

                @media screen and (max-width:450px) {
                    font-size: 50px !important;
                }

                &.long-bottom, .long-top{
                    font-size: 45px;
                    
                    @media screen and (max-width: 600px) {
                        font-size: 40px !important;
                    }
        
                    @media screen and (max-width:450px) {
                        font-size: 30px !important;
                    }
                }
            }
        }
    }
}

.mainres{
    p{
        max-width: 400px;
    }
}

.primary-btn{
    background-color: #fff1;
    border: 1px solid #fff4;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 30px;

    &:hover{
        background-color: #fff1 !important;
    }

    &:active{
        transform: scale(1.05);
    }

    &::before{
        content: "";
        position: absolute;
        width: 30px;
        height: calc(100% + 40px);
        top: -20px;
        background-color: #fff4;
        transform: rotate(20deg);
        left: -20px;
        animation: move 3s linear forwards infinite;
        filter: blur(10px);

        @keyframes move {
            0%{
                left: -100px;
            }
            100%{
                left: calc(100% + 100px);
            }
        }
    }
}

.bottom-details{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background-color: #fff1;
    border: 1px solid #fff1;
    backdrop-filter: blur(30px);

    @media screen and (max-width: 600px) {
        padding: 7px;
    }
}

.center-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 20;
}

.link{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid #fff2;
    background: #fff2;
    font-size: 18px;
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
    @media screen and (max-width: 600px) {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    
    &:active{
        transform: scale(1.3);
    }
}